<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @registration.number %>
</p>

<p>
  <strong>College:</strong>
  <%= @registration.college %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
