
<div class="events">


<ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">

      <%= image_tag "computergaming.jpg" %>

      <h1>Counter Strike</h1>
      <p><a href="#gaming" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="gaming">
        <h2>Counter Strike</h2><h3>Rules:</h3>
        <ul>
          <li>
            Team Size: Maximum 4 members.</li>
            <li>Fixtures will be done on spot.
            </li>
            <li>Mouse and headphones are allowed.</li>
            <li>Event organizers decision is final.</li>
          </ul>
            <strong>Registration:</strong> Rs. 150</p>
            <h3>Contact:</h3>
            <ul>
              <li>Syed Sami (7892496832)</li>
              <li>Sharique  (9901738692)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>

  <li class="hex">
    <div class="hexIn">

      <%= image_tag "fifa.jpg" %>

      <h1>Fifa</h1>
      <p><a href="#fifa" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="fifa">
        <h2>Fifa</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual Event</li>
            <li>Fixtures will be done on spot.
            </li>
            <li>Mouse and headphones are allowed.</li>
            <li>Tie - Extra time/penalty</li>
            <li>4 minutes (Full time)</li>
          </ul>
            <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>

            <ul>
              <li>Syed Sami (7892496832)</li>
              <li>Sharique  (9901738692)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>

  <li class="hex">
    <div class="hexIn">

      <%= image_tag "dumb.jpg" %>

      <h1>DUMCHARADS</h1>
      <p><a href="#dumbcharads" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="dumbcharads">
        <h2>DUMCHARADS</h2><h3>Rules:</h3>
        <ul>
          <li>
            Team consist of 3 members</li>
            <li>No lip movement.
            </li>
            <li>Can move on to next chit if stuck (0nly 2 chances)</li>
            <li>2 rounds (1st round elimination round)</li>
          </ul>
          <strong>Registration:</strong> Rs. 100</p>
            <h3>Contact:</h3>
            <ul>
            </ul>
        </div>
      </div>
    </div>
  </li>





  <li class="hex">
    <div class="hexIn">
      <%= image_tag "debugging.jpg" %>
      <h1>CODING & DEBUGGING</h1>
      <p><a href="#coding" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="coding">
        <h2>CODING & DEBUGGING</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event</li>
            <li>Consists of two rounds:
            </li>
            <li>Round 1: Coding (Problems to be solved in C, C++, Java).</li>
            <li>Round 2:  Debugging (Code to be debugged will be given in CC, C++, JAVA)).</li>
            <li>Personal laptops cannot be used.</li>
            <li>No Internet access and no mobile phones allowed.</li>
          </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Ghouse (8050408291)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>



  <li class="hex">
    <div class="hexIn">
      <%= image_tag "dj.jpg" %>
      <h1>DJ MANIA</h1>
      <p><a href="#dj" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="dj">
        <h2>DJ MANIA</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event</li>
            <li>virtual DJ  software should be used for this event.
            </li>
            <li>Participants can select any version of the software.</li>
            <li>There is a time limit of  5 minutes.</li>
            <li>Participants should bring their personal laptops.</li>
          </ul>
          <strong>Registration:</strong> Rs. 100</p>
            <h3>Contact:</h3>
            <ul>
              <li>Ashwin (9632335562)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>


  <li class="hex">
    <div class="hexIn">
      <%= image_tag "web.png" %>
      <h1>WEB DESIGNING</h1>
      <p><a href="#web" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="web">
        <h2>WEB DESIGNING</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event</li>
            <li>Use of any language to create 3 pages website.
            </li>
            <li>Topic will be given on spot</li>
            <li>Resource for the page will be provided</li>
            <li>Ready-made templates cannot be used.</li>
            <li>No copying and pasting of codes.</li>
            <li>No use of flashdrives or external devices.</li>
            </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Ayyappan (8553641077)</li>
              <li>Taj      (9036040358)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>


  <li class="hex">
    <div class="hexIn">
      <%= image_tag "photoshop.jpg" %>
      <h1>PHOTOSHOP</h1>
      <p><a href="#photo" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="photo">
        <h2>PHOTOSHOP</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event</li>
            <li>Creative poster should be designed
            </li>
            <li>Topic will be given on spot.</li>
            <li>The poster created should carry a message related explanation should be given.</li>
            </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Senthil (8904424464)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>


  <li class="hex">
    <div class="hexIn">
      <%= image_tag "fastfurious.jpg" %>
      <h1>FAST & FURIOUS</h1>
      <p><a href="#fast" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="fast">
        <h2>FAST & FURIOUS</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event</li>
            <li>The assembled process should be correct
            </li>
            <li>Working models and fastest completed will be selected  </li>
            </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Amogh  (9844105088)</li>
              <li>Girish (8951046331)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>


  <li class="hex">
    <div class="hexIn">
      <%= image_tag "quiz.jpg" %>
      <h1>QUIZ</h1>
      <p><a href="#quiz" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="quiz">
        <h2>QUIZ</h2><h3>Rules:</h3>
        <ul>
          <li>
            Team event (3 per team)</li>
            <li>Tech Quiz consisting of Two rounds.
            </li>
            <li> The team who has scored maximum points will qualify for next round.</li>
            <li>Technical based questions will be asked.</li>
            </ul>
          <strong>Registration:</strong> Rs. 100</p>
            <h3>Contact:</h3>
            <ul>
              <li>Sanjay (8105042104)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>



  <li class="hex">
    <div class="hexIn">
      <%= image_tag "mad_ads.jpg" %>
      <h1>MAD-ADS</h1>
      <p><a href="#madads" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="madads">
        <h2>MAD-ADS</h2><h3>Rules:</h3>
        <ul>
          <li>
            Team can contain a maximum of 10 members.</li>
            <li>No props will be allowed.
            </li>
            <li> Participants must be students of a college and must carry a valid ID card.</li>
            <li>The pieces can be in any language.</li>
            <li>Any form of vulgarity will lead to disqualification.</li>
            <li>Judges decision will be final.</li>
            <li>Time on stage: 6+1 mins. After 6 mins, a buzzer/bell will be rung.</li>
            </ul>
          <strong>Registration:</strong> Rs. 150</p>
            <h3>Contact:</h3>
            <ul>
              <li>Punith: (7259751603)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>



  <li class="hex">
    <div class="hexIn">
      <%= image_tag "googler.png" %>
      <h1>GOOGLER</h1>
      <p><a href="#googler" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="googler">
        <h2>GOOGLER</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event.</li>
            <li>Topic will be given on spot.
            </li>
            <li>Participants should create the PPT based on given topic.</li>
          <li>Creative way of presentation.</li>
            </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Vidya (8553607430)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>



  <li class="hex">
    <div class="hexIn">
      <%= image_tag "ecollection.jpg" %>
      <h1>E-COLLECTION</h1>
      <p><a href="#collection" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="collection">
        <h2>E-COLLECTION</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event.</li>
            <li>Collection of old gadgets
            </li>
            <li>The collection should be ready to display before 2 PM</li>
            </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Rahul (8197680540)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>



  <li class="hex">
    <div class="hexIn">
      <%= image_tag "photography.jpg" %>
      <h1>PHOTOGRAHY</h1>
      <p><a href="#photgraphy" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="photgraphy">
        <h2>PHOTOGRAHY</h2><h3>Rules:</h3>
        <ul>
          <li>
            Individual event.</li>
            <li>Professional Camera or Mobile phone
            </li>
            <li>Theme based picture should be clicked.</li>
            <li>Editing should not be done.</li>
            <li>3 best Photo should be submitted before
 5:00pm at help desk.</li>
            </ul>
          <strong>Registration:</strong> Rs. 100</p>
            <h3>Contact:</h3>
            <ul>
              <li>Rahul (8197680540)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>


  <li class="hex">
    <div class="hexIn">
      <%= image_tag "movie.jpg" %>
      <h1>SHORT MOVIE MAKING</h1>
      <p><a href="#movie" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="movie">
        <h2>SHORT MOVIE MAKING</h2><h3>Rules:</h3>
        <ul>
          <li>
            The team should consist of minimum of 3 participants and Entire film must be short within the filmmaking period and need to provide a proof as and when needed.</li>
            <li>A team cannot use stock footage or footage created earlier.
            </li>
            <li>A team can use animation and special effects, but only if made during Filmmaking hours.</li>
            <li>Photographs can be used in a film, only if the team has the rights to them.</li>
            <li>Topic will be given on spot and movie should be created within 3Hrs (from 11 AM -2.00pm).</li>
            <li>It is permissible for a participating group to use pre-recorded music.</li>
            <li>Opening titles are considered to be part of the film, and hence count in total duration of your film.</li>
            <li>The film titles should have: - 5 seconds of black - A title card with: Team name Film name</li>
            <li>Each team must submit all the details of cast, crew, music and locations, etc along with the DVD
and pen drive submissions.</li>
<li>Films must be the original work of the team and must not infringe third-party's rights</li>
<li>Must be suitable for publication and not contain obscene or indecent material and should not
contain defamatory statements about any person, company, organization or entity.</li>
<li>The finished film must be a minimum of 5 minutes
in duration, and a maximum of 8 minutes in
duration - not including end credits.</li>

            </ul>
          <strong>Registration:</strong> Rs. 100</p>
            <h3>Contact:</h3>
            <ul>
              <li>Senthil (8904424464)</li>
              <li>Puneeth (7259757603)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>




  <li class="hex">
    <div class="hexIn">
      <%= image_tag "treasure_hunt.jpg" %>
      <h1>TREASURE HUNT</h1>
      <p><a href="#treasure" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="treasure">
        <h2>TREASURE HUNT</h2><h3>Rules:</h3>
        <ul>
          <li>
          Team must comprise of 3 members.</li>
            <li>Everybody starts with a clue/riddle. First to complete,wins.
            </li>
            <li>Each puzzle, when solved will indicate to a unique place INSIDE the campus.</li>
            <li>The coordinators' decision is final.</li>
            </ul>
          <strong>Registration:</strong> Rs. 150</p>
            <h3>Contact:</h3>
            <ul>
              <li>Syed Ghouse(8050408291)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>



  <li class="hex">
    <div class="hexIn">
      <%= image_tag "surprise.jpg" %>
      <h1>SURPRISE EVENT</h1>
      <p><a href="#surprise" class="fancybox" id="details">Details</a></p>
      <div style="display:none;">
        <div id="surprise">
        <h2>SURPRISE EVENT</h2><h3>Rules:</h3>
        <ul>
          <li>
          Individual Event.</li>
            <li>Event will be announced on spot.
            </li>
            <li>(Hint: Come brushed up with your coding skills)</li>
            <li>The coordinators' decision is final.</li>
            </ul>
          <strong>Registration:</strong> Rs. 50</p>
            <h3>Contact:</h3>
            <ul>
              <li>Aisha (9731627607)</li>
            </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
