<div class="wrapper">
  <p id="notice"><%= notice %></p>
  <h1>Dont have the form yet?</h1>
  <h4>
    Get it from here <%= link_to 'Download', download_doc_path,class: "btn btn-sm btn-default", target: "_blank" %>
  </h4>

<br>
<br>
<h1>Have the form?</h1>
<h4>Fill in the details and upload it here (pdf format only)</h4>

</div>


<%= form_for @registration,url: registrations_path,html: { multipart: true } do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



      <div class="container">
  <div class="form">

    <div class="w3-container w3-card-24">
      <div class="row">
<div class="field">

    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>


<div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
  </div>
<div class="field">
    <%= f.label :number, "Mobile" %><br>
    <%= f.text_field :number, :required => true %>
  </div>
  </div>
  <div class="field">
    <%= f.label :college, "College Name" %><br>
    <%= f.text_field :college, :required => true %>
  </div>
  <div class="upload">
  <%= f.file_field :document, :required => true %>
    </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</div>
</div>
</div>
