<div class="wrapper">
  <h1>Dont have the form yet?</h1>
  <h4>
    Get it from here <%= link_to 'Download', download_doc_path,class: "btn btn-sm btn-default", target: "_blank" %>
  </h4>

<br>
<br>
<h1>Have the form?</h1>
<h4>Fill in the details and upload it here</h4>

</div>


<%= form_for @registration,url: registrations_path,html: { multipart: true } do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
      <div class="row">
<div class=".col-sm-4">

    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>

<div class=".col-sm-4">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
<div class=".col-sm-4">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  </div>
  <div class="field">
    <%= f.label :college %><br>
    <%= f.text_field :college %>
  </div>
  <%= f.file_field :document %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
